@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 2em;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: 1.875em;
}

h2 {
    font-size: 1.25em;
}

h3 {
	font-size: 1.11em;
}

h4 {
	font-size: 1.48em;
}

p {
	font-size: 1.69em;
}

/*The widths are in a percentage!*/
header {
	text-align: center;
	border-bottom: 0.2em solid #77a466;
	width: 100%;
}

h1 {
    padding-bottom: 0.5em;
	border-bottom: 0.1em solid #77a466;
}

header h1 span {
	color: #77a466;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
	padding-right: 1.2em;
}

ul {
	list-style-type: none;
	line-height: 3.5em;
}

.top-section,
.bottom-section {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

.main-image img {
	width: 100%;
	border-bottom: 0.2em solid #77a466;
}


.main-title h3 {
	color: #77a466;
}

.main-title p {
	font-size: 1em;
	line-height: 1.5em;
}

.section-one,
.section-two,
.section-three {
	border-top: 1px solid #eee;
	width: 100%;
}

.menu {
	list-style: none;
	padding: 0;
}

.menu li {
	padding: 0.8em 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.5em;
}

.address {
	font-size: 1em;
	line-height: 1.7em;
}

footer {
	border-top: 0.2em solid #eee;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer span {
	font-family: 'Dancing Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 1em;
}

/*****TABLET STYLES*****/
@media all and (min-width:768px) {

.container {
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}

header {
	text-align: center;
	border-bottom: 0.2em solid #77a466;
	width: 100%;
}

.top-section,
.bottom-section {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

.bottom-section {
	display: flex;
	align-items: flex-start;
}

.section-one,
.section-two,
.section-three {
	width: 33%
}

h4 {
	font-size: 1em;
}

.menu {
	line-height: 1em;
}

footer {
	border-top: 0.2em solid #eee;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}


}

/*****DESKTOP STYLES*****/
@media all and (min-width:1200px) {

	 header {
	 	display: flex;
	 	justify-content: flex-start;
	 	border: none;
	 	justify-content: space-between;
	 }

	ul {
		display: flex;
	}

	.menu {
    	display: flex;
    	flex-direction: column;
    }

}
